@media (max-width: 450px) {
  h1 {
    margin: 0.4em;
    padding-top: 30px;
    margin-top: 10vh;
    padding-bottom: 15px;
  }
  .botonera {
    margin-top: 3px;
    gap: 5;
    justify-content: flex-end;
  }
  .boton-left {
    margin: 5px;
  }
  .boton-right {
    margin: 5px;
  }

  .form {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .VH {
    /* cortar imagen */
    background: url("/img/fondor.jpg") center/cover scroll no-repeat;
  }

  .Hero__text {
    font-size: calc(0.7em + 0.7vw);
    line-height: 1em;
  }

  h1 {
    margin: 0.4em;
  }

  h2 {
    font-size: 30px;
  }

  .barranav {
    gap: 10px;
  }

  .menu {
    position: absolute;
    top: 9vh;
    max-width: 100%;
    left: 5%;
    right: 5%;
    border: 2px solid var(--electric);
    border-top: 0;
    flex-direction: column;
    background-color: #edf2f4ff;
    border-radius: 0px 0px 15px 15px;
    padding: 30px 30px;
    align-items: center;
    /* display: none; */
    transform: translateX(-200%);
    transition: all 0.5s ease-in-out;
    z-index: 10;
  }

  .menu a {
    font-size: 18px;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
    order: 2;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  #menu-toggle:checked + .menu {
    transform: translateX(0);
    display: flex;
  }
}
