@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: white;
  font-family: "Roboto", sans-serif;
  /* background: url("/img/fondologin.jpg") center/cover scroll no-repeat; */
  background: url("/img/fondo.jpg") center/cover scroll no-repeat;
  backdrop-filter: blur(3px);
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.logo {
  height: 10vh;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  background-color: #eae2b7ff;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: #eae2b7ff;
  color: grey;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}

.botonera {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  /* background-color: purple; */
  background-color: rgb(120, 190, 32);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: rgb(120, 190, 32);
  transform: translateY(-2px);
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
}
.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: rgb(120, 190, 32);
  /* color: purple; */
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:focus {
  /* border: 2px solid purple; */
  border: 2px solid rgb(120, 190, 32);
}
