* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background: #009fff; /* fallback for old browsers */
  background: url("/img/fondo.jpg") center/cover scroll no-repeat;
  backdrop-filter: blur(3px);
  /* background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #ec2F4B, #009FFF);   */
}

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(247, 127, 0, 1) 25%
  );
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0px 5px;
  position: fixed;
  z-index: 2;
}

.logo {
  width: 20%;
}

.barranav {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 10px;
  position: relative;
}

.menu li a {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu li {
  position: relative;
  padding: 0;
}

.iconlogin {
  width: 35px;
  height: 35px;
}

/* form */

form {
  position: absolute;
  min-width: 280px;
  max-width: 25%;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 5px;
  color: #fff;
}
h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 7px;
}
h3::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  width: 110px;
  left: 0;
  bottom: 0;
}

h4 {
  position: relative;
  font-size: 18px;
  margin-bottom: 15px;
  padding-bottom: 7px;
}
h4::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  width: 180px;
  left: 0;
  bottom: 0;
}
input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 6px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-radius: 1px;
}

button {
  display: block;
  margin: auto;
  width: 100%;
  height: 40px;
  background-color: #5d5b5b96;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
}

.link {
  text-align: center;
  margin-top: 15px;
  font-weight: bolder;
}
