/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Open+Sans:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-padding-top: 30px;
}

html {
  scroll-behavior: smooth;
}

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(247, 127, 0, 1) 25%
  );
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0px 5px;
  position: fixed;
  z-index: 2;
}

body {
  background: rgb(43, 68, 62);
  background: linear-gradient(
    0deg,
    rgba(43, 68, 62, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #eae2b7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
}

.logo {
  width: 20%;
}

.barranav {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 10px;
  position: relative;
}

.menu li a {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu li {
  position: relative;
  padding: 0;
}

.iconlogin {
  width: 35px;
  height: 35px;
}

.menu-label {
  display: none;
}
#menu-toggle {
  display: none;
}

.VH {
  background: url("/img/fondo.jpg") center/cover scroll no-repeat;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: end;
  padding: 10%;
  justify-content: space-evenly;
}

h1 {
  font-size: calc(1.6em + 1.6vw);
  line-height: 1em;
  padding: 0.5em;
  font-weight: 1000;
  font-family: "Permanent Marker", cursive;
  font-style: oblique;
  text-align: center;
  color: transparent;
  background: linear-gradient(yellow, red);
  max-height: 30%;
  -webkit-background-clip: text;
}

.VH__Hero {
  margin-left: 40%;
  width: 60%;
  max-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
}

.Hero__text {
  font-size: calc(0.7em + 0.7vw);
  line-height: 1.5em;
  padding: 1em;
  text-align: justify;
  font-weight: 500;
  color: #fff; /* Color del texto */
  width: 100%;
  height: 80%;
}

/* botonera */

.Hero__botonera a {
  font-size: calc(0.6em + 0.6vw);
  line-height: 1em;
  padding: 1em;
  margin: 1em;
}

.Hero__botonera {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30;
  width: 100%;
  height: 20%;
}

.boton-left {
  background: rgb(120, 190, 32);
  padding: 9px 16px;
  border-radius: 50px;
  color: #edf2f4ff;
}

.boton-right {
  background: #edf2f4ff;
  color: #2b2d42ff;
  padding: 9px 16px;
  border-radius: 50px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* CONTAINER CITA */
.containercita {
  display: flex;
}

/* IMG CITA */
.blockquote__container {
  border-radius: 30px;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 3);
  height: 120px;
  width: 120px;
}

.blockquote__img {
  height: 100px;
  width: 140px;
}

/* Estilos para la cita */

blockquote {
  color: rgb(120, 190, 32);
  border-left: 5px solid rgb(120, 190, 32);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

/* Estilos para el autor de la cita */
blockquote p.author {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

/*  INFO   */

.info-cards-container {
  padding: 50px 10px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}

.info-card {
  width: 300px;
  height: 310px;
  padding: 40px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info-card__entrenadores {
  width: 300px;
  height: 310px;
  padding: 40px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url(/img/grupa.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #edf2f4ff;
}

.info-card__entrenadores__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
}

.info-card__entrenadores__content p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.info-card__entrenadores__content h3 {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

/* card2 */
.info-card__programas {
  width: 300px;
  height: 310px;
  padding: 40px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url(/img/tenis_ind.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #edf2f4ff;
}

.info-card__programas__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
}

.info-card__programas__content p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.info-card__programas__content h3 {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

/* card3 */

.info-card__fisica {
  width: 300px;
  height: 310px;
  padding: 40px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url(/img/pfisica.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #edf2f4ff;
}

.info-card__fisica__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
}

.info-card__fisica__content p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.info-card__fisica__content h3 {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

/* card4 */

.info-card__grupos {
  width: 300px;
  height: 310px;
  padding: 40px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url(/img/grupreducido.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #edf2f4ff;
}

.info-card__grupos__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
}

.info-card__grupos__content p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.info-card__grupos__content h3 {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

/* card5 */

.info-card__mental {
  width: 300px;
  height: 310px;
  padding: 40px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url(/img/mentallllll.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: #edf2f4ff;
}

.info-card__mental__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
}

.info-card__mental__content p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.info-card__mental__content h3 {
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

h2 {
  font-family: "Permanent Marker", cursive;
  margin: 30px;
  font-weight: 700;
  font-size: 45px;
  font-style: oblique;
  text-align: center;
  color: transparent;
  background: linear-gradient(yellow, red);
  -webkit-background-clip: text;
}

/* SECCION CONTACTO */
.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  gap: 75px;
  width: 90%;
  margin: 0 auto;
}

.contacto p {
  font-size: calc(0.55em + 0.55vw);
  line-height: 1em;
  padding: 0.7em;
  margin: 0.7em;
}

/* formulario */
.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.title {
  font-size: calc(1.5em + 1.5vw);
  line-height: 1em;
  padding: 2em;
  margin: 1em;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: grey;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}
.botonera {
  display: flex;
  align-items: center;
  align-content: center;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  /* background-color: purple; */
  background-color: rgb(120, 190, 32);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: rgb(120, 190, 32);
  transform: translateY(-2px);
  box-shadow: 0 8px 8px 0 #000000, 0 8px 8px 0 #000000;
}
.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: rgb(120, 190, 32);
  /* color: purple; */
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:focus {
  /* border: 2px solid purple; */
  border: 2px solid rgb(120, 190, 32);
}

/* FOOTER */

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer a {
  color: greenyellow;
}
